flows.json
[{"id":"cadb0ace.0e0e38","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d60393e5.218d8","type":"ui_tab","z":"","name":"Restaurant","icon":"dashboard","disabled":false,"hidden":false},{"id":"ceb56fc9.76a4b","type":"ui_group","z":"","name":"Chatbot","tab":"d60393e5.218d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"54b3b3f.b1c594c","type":"ui_group","z":"","name":"Userinput","tab":"81482c5e.28b9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"81482c5e.28b9c","type":"ui_tab","z":"","name":"Enter Text","icon":"dashboard","disabled":false,"hidden":false},{"id":"532c1603.45e5c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a17286e.41e998","type":"ui_group","z":"","name":"Sms","tab":"525b6d95.d06224","order":1,"disp":true,"width":"20","collapse":false},{"id":"525b6d95.d06224","type":"ui_tab","z":"","name":"SMS","icon":"dashboard","disabled":false,"hidden":false},{"id":"aaca0e22.1d3ad","type":"ui_group","z":"","name":"Chatbot","tab":"333eb22.5230f4e","order":1,"disp":true,"width":"6","collapse":false},{"id":"333eb22.5230f4e","type":"ui_tab","z":"","name":"Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6454b21.7f6c18","type":"ui_group","z":"","name":"Chatbot","tab":"394d266c.6d76ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"394d266c.6d76ca","type":"ui_tab","z":"","name":"Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"4afe3f6c.a15d1","type":"watson-conversation-v1","z":"cadb0ace.0e0e38","name":"Bot","workspaceid":"cb36a478-227a-4eb9-a899-2339474c955f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6bf84317-c4ac-44e6-9175-0742c095a90f","timeout":"","optout-learning":false,"x":330,"y":140,"wires":[["82899ea8.267b7"]]},{"id":"a57f19ad.f2f3a8","type":"inject","z":"cadb0ace.0e0e38","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":90,"y":80,"wires":[["4afe3f6c.a15d1"]]},{"id":"74226d37.d255c4","type":"debug","z":"cadb0ace.0e0e38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":240,"wires":[]},{"id":"82899ea8.267b7","type":"function","z":"cadb0ace.0e0e38","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["74226d37.d255c4","e073fb73.d10538","3cd9ffd.419e1","1b4965c1.2d270a"]]},{"id":"9422fcc5.7ec54","type":"ui_form","z":"cadb0ace.0e0e38","name":"","label":"","group":"c6454b21.7f6c18","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["4437c4a5.f5239c"]]},{"id":"4437c4a5.f5239c","type":"function","z":"cadb0ace.0e0e38","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":400,"wires":[["4afe3f6c.a15d1","1d9caf9b.f6631"]]},{"id":"1d9caf9b.f6631","type":"ui_text","z":"cadb0ace.0e0e38","group":"c6454b21.7f6c18","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":420,"wires":[]},{"id":"e073fb73.d10538","type":"ui_text","z":"cadb0ace.0e0e38","group":"c6454b21.7f6c18","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":340,"wires":[]},{"id":"3cd9ffd.419e1","type":"ui_audio","z":"cadb0ace.0e0e38","name":"","group":"c6454b21.7f6c18","voice":"en-US","always":"","x":700,"y":20,"wires":[]},{"id":"1b4965c1.2d270a","type":"ui_template","z":"cadb0ace.0e0e38","group":"c6454b21.7f6c18","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":120,"wires":[[]]}]